.ember-modal-overlay {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  left: 0;
  z-index: 50;
  background-color: #808080;
}
.ember-modal-overlay.translucent {
  opacity: 0.77;
  filter: alpha(opacity=15);
}
