  {{#if isShowingModalDialog}}
    {{#modal-dialog aria-labelledby="component-modal-title"}}
      <h1 id="component-modal-title">Stop! Modal Time!</h1>
      <button class="close" {{action 'closeModalDialog'}}>Close</button>
    {{/modal-dialog}}
  {{/if}}

  <h1>A component that has a modal dialog</h1>
  <button class="open" {{action 'openModalDialog'}}>Open Dialog</button>
