{{#if isShowingModalDialog}}
  {{#modal-dialog}}
    <h1>Stop! Modal Time!</h1>
    <button class="close" type="button" {{action "closeModalDialog"}}>Close</button>
  {{/modal-dialog}}
{{/if}}

<h1>A component that has a modal dialog</h1>
<button class="open" type="button" {{action "openModalDialog"}}>Open Dialog</button>
