<div class="ApplicationRoute">
  <p class="ApplicationRoute-summary">
    The modal-dialog component can behave in four different ways.
  </p>
  <ul class="ApplicationRoute-nav">
    <li><LinkTo @route="index">css-positioned, not animatable</LinkTo></li>
    <li><LinkTo @route="animatable">css-positioned, animatable</LinkTo></li>
    <li><LinkTo @route="tethered">tethered, not animatable</LinkTo></li>
    <li><LinkTo @route="tethered-animatable">tethered, animatable</LinkTo></li>
  </ul>

  {{outlet}}
</div>
