@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "tomorrow-night-eighties";

body {
  font-family: sans-serif;
  font-size: 12px;
}

.example {
  padding: 10px;
  background: #ddd;
  border: solid 1px #666;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  min-height: 120px;
  width: 500px;
}

#container-in-place {
  min-height: 10px;
  border: dotted 2px lime;
  padding: 20px;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #0f9d58;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.alignmentTargetContainer {
  text-align: center;
}

pre {
  border: solid 1px #bbb;
  border-radius: 4px;
}

h1,
h2 {
  padding: 0 0 8px 0;
  margin: 0;
}
.my-cool-modal {
  border-radius: 100px;
  padding: 40px;
}

// BEGIN-SNIPPET custom-styles
$theme-color: #0f9d58;

.custom-styles-modal {
  background: $theme-color;
  filter: alpha(opacity=15);
  opacity: 0.77;
  z-index: 100000;
}

.custom-styles-modal-container {
  background: #222;
  color: white;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 300px;
  z-index: 100000;

  h1 {
    color: $theme-color;
  }
}
// END-SNIPPET
