@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "tomorrow-night-eighties";

body {
  font-family: sans-serif;
  font-size: 12px;
}

.example {
  padding: 10px;
  background: #ddd;
  border: solid 1px #666;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  min-height: 120px;
  width: 500px;
}

#container-in-place {
  min-height: 10px;
  border: dotted 2px lime;
  padding: 20px;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #0f9d58;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.alignmentTargetContainer {
  text-align: center;
}

pre {
  border: solid 1px #bbb;
  border-radius: 4px;
}

h1,
h2 {
  padding: 0 0 8px 0;
  margin: 0;
}
.my-cool-modal {
  border-radius: 100px;
  padding: 40px;
}

// BEGIN-SNIPPET custom-styles
$theme-color: #0f9d58;

.custom-styles-modal {
  background: $theme-color;
  filter: alpha(opacity=15);
  opacity: 0.77;
  z-index: 100000;
}

.custom-styles-modal-container {
  background: #222;
  color: white;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 300px;
  z-index: 100000;

  h1 {
    color: $theme-color;
  }
}
// END-SNIPPET

// BEGIN-SNIPPET centered-scrolling
.centered-scrolling-wrapper {
  position: fixed;
  z-index: 99;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: scroll;
}

.centered-scrolling-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
}

.ember-modal-overlay.translucent {
  background-color: hsla(0, 0%, 50%, 0.25);
}

/* basic modal style (an example, this is not necessary for the centering) */
.centered-scrolling-container {
  background-color: lime;
  min-width: 30em;
  max-width: 80vw;
  min-height: 20em;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px 4px rgba(0,0,0,0.30);

  // Had to add the following two rules to make modal content scrollable
  overflow-y: scroll;
  height: 100vh;
}
// END-SNIPPET
