@import "./ember-modal-dialog/ember-modal-structure.css";
@import "./ember-modal-dialog/ember-modal-appearance.css";
@import "_tomorrow-night-eighties.css";

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}


.ApplicationRoute {
  margin: 20px;
}

.ApplicationRoute-summary {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.ApplicationRoute-nav {
  margin-bottom: 20px;
  padding: 0;
}

.ApplicationRoute-nav > li {
  display: inline-block;
}

.ApplicationRoute-nav > li::after {
  content: ' | ';
}

.ApplicationRoute-nav > li:last-child::after {
  content: '';
}

.example {
  padding: 10px;
  background: #ddd;
  border: solid 1px #666;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  min-height: 120px;
  width: 500px;
  max-width: 93%;
}

#container-in-place {
  min-height: 10px;
  border: dotted 2px lime;
  padding: 20px;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #0f9d58;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.targetContainer {
  text-align: center;
}

pre {
  border: solid 1px #bbb;
  border-radius: 4px;
}

h1,
h2 {
  padding: 0 0 8px 0;
  margin: 0;
}
// BEGIN-SNIPPET subclass-styles
.my-cool-modal {
  border-radius: 100px;
  padding: 40px;
}
// END-SNIPPET

// BEGIN-SNIPPET custom-styles

.custom-styles-overlay {
  background-color: rgba(15, 157, 88, .77);
}

.custom-styles-overlay,
.custom-styles-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.custom-styles-modal-container {
  background: #222;
  color: white;
  margin-left: -25px;
  margin-top: 10px;
  width: 300px;

  h1 {
    color: #0f9d58;
  }
}
// END-SNIPPET

// BEGIN-SNIPPET in-place
.ember-modal-overlay-in-place {
  height: initial;
  opacity: initial;
  position: initial;
}

.emd-in-place {
  position: initial;
}
// END-SNIPPET

// BEGIN-SNIPPET centered-scrolling
body.centered-modal-showing {
  overflow: hidden;
}
.centered-scrolling-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.centered-scrolling-overlay {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* basic modal style (an example, this is not necessary for the centering) */
.centered-scrolling-container {
  position: relative;
  background-color: white;
  min-width: 30em;
  max-width: 650px;
  min-height: 20em;
  padding: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px 4px rgba(0,0,0,0.30);
}
// END-SNIPPET
