{{#ember-wormhole to=destinationElementId renderInPlace=renderInPlace}}
  <div class="{{wrapperClassNamesString}} {{wrapperClass}}">
    {{#modal-dialog-overlay
        classNameBindings='overlayClassNamesString translucentOverlay:translucent overlayClass'
        action='clickedOverlay'
    }}
      {{#ember-modal-dialog-positioned-container classNameBindings="containerClassNamesString targetAttachmentClass containerClass"
          targetAttachment=targetAttachment
          target=target
      }}
        {{yield}}
      {{/ember-modal-dialog-positioned-container}}
    {{/modal-dialog-overlay}}
  </div>
{{/ember-wormhole}}
