{{#ember-wormhole to=destinationElementId}}
  {{#if hasOverlay}}
    <div {{bind-attr id=overlayId class="overlayClassNamesString translucentOverlay:translucent overlay-class"}} {{action 'close'}}></div>
  {{/if}}
  {{#ember-modal-dialog-positioned-container classNameBindings="containerClassNamesString container-class"
                                alignment=alignment
                                alignmentTarget=alignmentTarget}}
    {{yield}}
  {{/ember-modal-dialog-positioned-container}}
{{/ember-wormhole}}
