{{#ember-wormhole to=destinationElementId}}
  {{#if hasOverlay}}
    <div {{bind-attr class=overlayClassNamesString}} {{action 'close'}}></div>
  {{/if}}
  {{#ember-modal-dialog-positioned-container containerClassNames=containerClassNames
                                alignment=alignment
                                alignmentTarget=alignmentTarget}}
    {{yield}}
  {{/ember-modal-dialog-positioned-container}}
{{/ember-wormhole}}
