{{#if this.hasOverlay}}
  {{#ember-wormhole to=this.destinationElementId}}
    <div
      class={{this.overlayClassNamesString}}
      onclick={{action this.onClickOverlay}}
      tabindex="-1"
      data-emd-overlay
    >
    </div>
  {{/ember-wormhole}}
{{/if}}
{{#ember-tether
  class=this.containerClassNamesString
  target=this.tetherTarget
  attachment=this.attachment
  targetAttachment=this.targetAttachment
  targetModifier=this.targetModifier
  classPrefix=this.tetherClassPrefix
  offset=this.offset
  targetOffset=this.targetOffset
  constraints=this.constraints
}}
  {{yield}}
{{/ember-tether}}
