<button id='alignModalToMe'>Do It</button>

{{#modal-dialog close='toggleAlignmentTargetSelector'
                hasOverlay=false
                alignment=alignmentTargetDirection
                alignmentTarget='#alignModalToMe' }}
  <h1>Stop! Modal Time!</h1>
  <p>Alignment Target '#alignModalToMe'</p>
  <p>Alignment {{alignmentTargetDirection}}</p>
  <button {{action 'closeAlignmentTargetSelector'}}>Close</button>
{{/modal-dialog}}
