{{#view viewName="buttonWrapper2" tagName="span"}}
  <button {{action 'toggleAlignmentTargetElement'}}>Do It</button>
{{/view}}

{{#modal-dialog close='toggleAlignmentTargetElement'
                hasOverlay=false
                alignment=alignmentTargetDirection
                alignmentTarget=view.buttonWrapper2.element }}
  <h1>Stop! Modal Time!</h1>
  <p>Alignment Target {{view.buttonWrapper2.elementId}}</p>
  <p>Alignment {{alignmentTargetDirection}}</p>
  <button {{action 'closeAlignmentTargetElement'}}>Close</button>
{{/modal-dialog}}
