{{#view viewName="buttonWrapper1" tagName="span"}}
  <button {{action 'toggleAlignmentTargetView'}}>Do It</button>
{{/view}}

{{#modal-dialog close='toggleAlignmentTargetView'
                hasOverlay=false
                alignment=alignmentTargetDirection
                alignmentTarget=view.buttonWrapper1 }}
  <h1>Stop! Modal Time!</h1>
  <p>Alignment Target {{view.buttonWrapper1}}</p>
  <p>Alignment {{alignmentTargetDirection}}</p>
  <button {{action 'closeAlignmentTargetView'}}>Close</button>
{{/modal-dialog}}
