{{#modal-dialog alignment='none'
                container-class='custom-styles-modal-container'
                overlay-class='custom-styles-modal' }}
  <h1>Stop! Modal Time!</h1>
  <p>Custom Styles</p>
{{/modal-dialog}}
