$theme-color: #0f9d58;

.custom-styles-modal {
  background: $theme-color;
  filter: alpha(opacity=15);
  opacity: 0.77;
  z-index: 100000;
}

.custom-styles-modal-container {
  background: #222;
  color: white;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 300px;
  z-index: 100000;

  h1 {
    color: $theme-color;
  }
}
