{{#modal-dialog alignment='none'
                containerClassNames='custom-styles-modal-container'
                overlayClassNames='custom-styles-modal' }}
  <h1>Stop! Modal Time!</h1>
  <p>Custom Styles</p>
{{/modal-dialog}}
