<button {{action 'toggleSubclassed'}}>Do It</button>

{{#my-cool-modal-dialog close='toggleSubclassed'
                translucentOverlay=true}}
  <h1>Stop! Modal Time!</h1>
  <p>Via Subclass</p>
  <button {{action 'toggleSubclassed'}}>Close</button>
{{/my-cool-modal-dialog}}
