<div class="ApplicationRoute">
  <p class="ApplicationRoute-summary">
    The modal-dialog component can behave in four different ways.
  </p>
  <ul class="ApplicationRoute-nav">
    <li>{{#link-to "index"}}css-positioned, not animatable{{/link-to}}</li>
    <li>{{#link-to "animatable"}}css-positioned, animatable{{/link-to}}</li>
    <li>{{#link-to "tethered"}}tethered, not animatable{{/link-to}}</li>
    <li>{{#link-to "tethered-animatable"}}tethered, animatable{{/link-to}}</li>
  </ul>

  {{outlet}}
</div>
