<div class="ApplicationRoute">
  <p class="ApplicationRoute-summary">
    The modal-dialog component can behave in two different ways.
  </p>
  <ul class="ApplicationRoute-nav">
    <li>{{#link-to 'index'}}css-positioned{{/link-to}}</li>
    <li>{{#link-to 'tethered'}}tethered{{/link-to}}</li>
  </ul>

  {{outlet}}
</div>
