<div class="ApplicationRoute">
  <p class="ApplicationRoute-summary">
    Ember Modal Dialog provides two different modal components.
  </p>
  <ul class="ApplicationRoute-nav">
    <li>{{#link-to 'index'}}modal-dialog{{/link-to}}</li>
    <li>{{#link-to 'tether-dialog'}}tether-dialog{{/link-to}}</li>
  </ul>

  {{outlet}}
</div>
