{{#if this.isShowingModalDialog}}
  <ModalDialog>
    <h1>Stop! Modal Time!</h1>
    <button
      class="close"
      type="button"
      {{action "closeModalDialog"}}
    >Close</button>
  </ModalDialog>
{{/if}}

<h1>A component that has a modal dialog</h1>
<button
  class="open"
  type="button"
  {{action "openModalDialog"}}
>Open Dialog</button>